<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1  class="btn-ini welcome text-right">Bienvenido</h1>
    </div>

    <p>
      <button type="button" class="btn-ini" mat-raised-button><a routerLink="/login">

        <h2 class="btn-ini">Inicia Sesión</h2>
      </a></button>
      <button type="button" mat-raised-button color="warn"><a routerLink="/register">
        <h2 class="regis">{{'registrate' | translate}}</h2>
      </a></button>
      
       </p>

  </div>
  <div class="col-md-12">
    <img src="../../assets/descarga.png" alt="">
  </div>

</div>