.container {
    color: #fff;
    h2{
    }
    .btn-ini{
        color:black !important;
    }
    .regis{
        color:white !important;
    }

    p{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

img{
    width: 76%;
    display:block;
margin:auto;
}
.welcome{
    font-weight: bold;
    font-size: 77px;
}